<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orų prognozė</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <link href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .alerts-block {
            height: 100px;
        }

        .saved {
            color: green;
            display: none;
        }
    </style>
</head>
<body onload="replaceLetter()">

<div class="container">
    <header>
        <nav>
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-light" value="Atsijungti"/>
            </form>
            <form th:action="@{/}" method="get">
                <input type="submit" class="btn btn-light" value="Pradinis puslapis"/>
            </form>
            <form th:action="@{/saved}" method="get">
                <input type="submit" class="btn btn-light" value="Mano prognozės"/>
            </form>
        </nav>
        <span>
            <h3>
            Pasirinktas miestas: <span th:text="${forecastViewModel.selectedCity}" id="selectedCity"></span>
            </h3>
        </span>

    </header>

    <div class="alerts-block mt-2">
        <div id="success-alert" class="alert alert-success position-absolute" role="alert" style="display: none">
            Duomenys sekmingai issaugoti!
        </div>
        <div id="error-alert" class="alert alert-danger position-absolute" role="alert" style="display: none">
            Ivyko klaida, bandykite dar karta!
        </div>
    </div>

        <form method="get">
            <span>
                <h3>Pereiti į kitą miestą:</h3>
            </span>
            <select id="selected-city" name="city" onchange="this.form.submit()">
                <option value=""></option>
                <option value="vilnius" th:selected="${forecastViewModel.selectedCity=='vilnius'}">Vilnius</option>
                <option value="kaunas" th:selected="${forecastViewModel.selectedCity=='kaunas'}">Kaunas</option>
                <option value="klaipeda" th:selected="${forecastViewModel.selectedCity=='klaipeda'}">Klaipėda</option>
                <option value="šiauliai" th:selected="${forecastViewModel.selectedCity=='šiauliai'}">Šiauliai</option>
                <option value="panevėžys" th:selected="${forecastViewModel.selectedCity=='panevėžys'}">Panevėžys</option>
                <option value="marijampolė" th:selected="${forecastViewModel.selectedCity=='marijampolė'}">Marijampolė</option>
                <option value="alytus" th:selected="${forecastViewModel.selectedCity=='alytus'}">Alytus</option>
                <option value="utena" th:selected="${forecastViewModel.selectedCity=='utena'}">Utena</option>
                <option value="mažeikiai" th:selected="${forecastViewModel.selectedCity=='mažeikiai'}">Mažeikiai
                </option>
            </select>
        </form>


    <table id="myTable" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Data</th>
            <th>Temperatūra</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="forecast : ${forecastViewModel.forecastList}">
            <td class="date" th:text="${forecast.dateTime}"></td>
            <td class="temperature" th:text="${forecast.temperature}"></td>
            <td>
                <form th:action="@{/saveForecast}" method="post">
                    <input type="hidden" name="city" th:value="${forecastViewModel.selectedCity}" />
                    <input type="hidden" name="temperature" th:value="${forecast.temperature}" />
                    <input type="hidden" name="date" th:value="${forecast.dateTime}" />
                    <button class="btn btn-light btn-sm" type="submit">Saugoti</button>
                    <span class="saved">Saved</span>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<footer class="footer">
    "MeteoApp" autorius Mikalojus Lenktis, 2024
</footer>


</body>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
<script>
    let table = new DataTable('#myTable');
</script>
<script>
    function replaceLetter() {
        //Replace first letter of city name to uppercase just for better view
        let city = document.getElementById("selectedCity").textContent;
        city = city.charAt(0).toUpperCase() + city.slice(1);
        document.getElementById("selectedCity").textContent = city;
    }

</script>


</html>