<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pradžia</title>
</head>
<body>
Sveiki prisijungę prie MeteoApp! <br>
Čia bus pradinis puslapis
Didieji miestai: <br>
<form method="get">
    <input type="button" value="Vilnius" onclick="window.location.href='/forecast?city=vilnius'"/>
    <input type="button" value="Kaunas" onclick="window.location.href='/forecast?city=kaunas'"/>
    <input type="button" value="Klaipėda" onclick="window.location.href='/forecast?city=klaipeda'"/>
</form>

<br>
<br>
<input type="button" value="Mano išsaugoti miestai"/>


</body>
</html>