<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prisijungimas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<header>
    <h1> Oro temperatūros prognozės</h1>
    <h3> Norėdami prisijungti, įveskite vartotojo vardą ir slaptažodį</h3>
</header>

<div class="container">
    <form class="signin" th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
            Netinkamas vartotojo vardas arba slaptažodis
        </div>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Vartotojo vardas"
                   required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Slaptažodis"
                   required="">
        </p>
        <input name="_csrf" type="hidden"
               value="CL0I7_Rz14VIQi3-z0bTdvkywRHL6PiJld_05L0Nx3tX9QWjbYowicYX57ZlcUnG-mvnE5sF7HOvis-kpueWgo1roRgyk2eb">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Prisijungti</button>
        <button class="btn btn-lg btn-secondary btn-block" onclick="window.location.href='/register'">Registruotis</button>
    </form>
</div>

<footer class="footer">
    "MeteoApp" autorius Mikalojus Lenktis, 2024
</footer>
</body>
</html>